## Rider
.idea/
*.sln.iml

## VS Code
.vscode/
*.code-workspace

## Nuxt / Node
node_modules/
dist/
.nuxt/
.output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Published output
publish/
wwwroot/

# Node dependencies
node_modules

## Logs
logs/
*.log
log.txt

# Fleet
.fleet

## OS system files
.DS_Store
Thumbs.db

## Environment files
.env
.env.*
*.env.local
*.env.development
*.env.production

## Docker
docker-data/
**/docker-compose.override.yml

## Temporary folders
tmp/
temp/
*.tmp

## JetBrains Rider caches in subfolders
**/.idea/

## .NET
bin/
obj/